---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="main-page has-push-menu">
        <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJDDVVJ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!-- Include Google Analytics script -->
        {% include stats.html %}
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", function(user) {
                    if (!user) {
                        window.netlifyIdentity.on("login", function() {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html>

